# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo


# Packages

# client
packages/client/*
packages/client/!.changeset
packages/client/!.github
packages/client/!src
packages/client/!.gitignore
packages/client/!.npmignore
packages/client/!.nvmrc
packages/client/!.prettierrc
packages/client/!CHANGELOG.md
packages/client/!LICENSE.md
packages/client/!package.json
packages/client/!pnpm-lock.yaml
packages/client/!README.md
packages/client/!tsconfig.json
packages/client/!vitest.config.ts

data/

packages/worker/wrangler.toml

apps/editor/sqlite.db

packages/database/drizzle.config.ts

examples/remix-cloudflare/.wrangler/
